* {
  border: 1px solid black;
}
body{
  display:block;
}

.profile{
  width:100%;
  height: 300px;

}
.profileImg{
  float:left;
  width:39%;
  margin:auto;
}
.profileInfo{
  width:60%;
  float:right;
}
.profileTitle{

}
.profilePara{z

}


1. Create a static user profile with HTML and CSS.
2. Add a click handler to each text block.
3. When a text block is clicked, hide the text block and display an input in its place. The input should take up the same space as the text block so that the transition from text to editable field is seamless and doesn't throw off the layout.
4. When the input is blurred:
Hide the input.
Show the text block.
Update the text block with the new text.
